@charset "utf-8";
/* CSS Document */
p  {
background-image: url("nude color.jpg");

font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
padding: 20px;
	
}

h1, h2  {
font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
background-image: url("yellow color.jpg");
padding: 20px;
 
}



body {
	background-color: antiquewhite
	}